.title-pags{
  margin-bottom: 20px;
}

.row-btns{
    width: 100%;
    text-align: right;
    margin-bottom: 30px;
}

.row-btns .btb-cadastrar{
    background: #04a904;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    transition: background 0.1s ease;
}

.row-btns .btb-cadastrar:hover{
    background: #04c704;
}