.container-login{
    background: #151e45;
    width: 500px;
    margin: 70px auto 0;
    padding: 20px;
    border-radius: 4px;

}

.container-login{
    color: #fff;
}

.container-login input{
    background: none;
    border: 1px solid #fff;
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 4px;
    margin-bottom: 10px;
    color: #fff;
}

.container-login button{
    background: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease;
    float: right;
}

.container-login button:hover{
    background: #2c4096;
}
